@   IN  SOA     dns.{{ cluster_dns_zone }}. dns.root.{{ cluster_dns_zone }}. (
                                                1001    ;Serial
                                                3H      ;Refresh
                                                15M     ;Retry
                                                1W      ;Expire
                                                1D      ;Minimum TTL
                                                )

;Name Server Information
@ IN  NS      dns.{{ cluster_dns_zone }}.

;Reverse lookup for Name Server
100      IN  PTR     dns.{{ cluster_dns_zone }}.

;PTR Record IP address to HostName
10       IN  PTR     sno-master1.{{ guid}}.{{ cluster_dns_zone }}.
20       IN  PTR     sno-master1.edge1.example.com.
30       IN  PTR     sno-master1.edge2.example.com.
40       IN  PTR     sno-master1.edge3.example.com.
50       IN  PTR     sno-master1.edge4.example.com.