@   IN  SOA     dns.example.com. dns.root.example.com.  (
                                                1001    ;Serial
                                                3H      ;Refresh
                                                15M     ;Retry
                                                1W      ;Expire
                                                1D      ;Minimum TTL
                                                )

;Name Server Information
@ IN  NS      dns.example.com.

;Reverse lookup for Name Server
100      IN  PTR     dns.example.com.

;PTR Record IP address to HostName
99	     IN  PTR     ocp4-bootstrap.ocp.example.com.
101      IN  PTR     ocp4-master1.ocp.example.com.
102      IN  PTR     ocp4-master2.ocp.example.com.
103      IN  PTR     ocp4-master3.ocp.example.com.
104      IN  PTR     ocp4-worker1.ocp.example.com.
105      IN  PTR     ocp4-worker2.ocp.example.com.
106      IN  PTR     ocp4-worker3.ocp.example.com.

