@   IN  SOA     dns.{{ cluster_dns_zone }}. dns.root.{{ cluster_dns_zone }}. (
                                                1001    ;Serial
                                                3H      ;Refresh
                                                15M     ;Retry
                                                1W      ;Expire
                                                1D      ;Minimum TTL
                                                )

;Name Server Information
@      IN  NS       dns.{{ cluster_dns_zone }}.

;IP address of Name Server
dns IN  A       192.168.123.100

;A - Record HostName To IP Address
sno-master1     IN  A       192.168.123.10

api		 IN  A       192.168.123.10
api-int		 IN  A       192.168.123.10

;Wildcard Entry for apps

*.apps.{{ guid }}.{{ cluster_dns_zone }}. 300 IN  A 192.168.123.10
